body{

    min-height: 100vh;
    margin: 0;
    padding: 0;

}

.faixa-top{

    background-color: blue;
    padding: 50px;

}

.faixa-top h1{

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}