body{

    min-height: 100vh;
    margin: 0;
    padding: 0;

}

.historys{

    white-space: pre-line;
    color: black;
    font-size: 15px;
    font-family: 'Castellar', serif;
    flex-wrap: wrap;

}

.historys2{

    white-space: pre-line;
    color: black;
    font-size: 15px;
    font-family: 'Castellar', serif;
    flex-wrap: wrap;

}

.historys3{

    white-space: pre-line;
    color: black;
    font-size: 15px;
    font-family: 'Castellar', serif;
    flex-wrap: wrap;

}

.historys4{

    white-space: pre-line;
    color: black;
    font-size: 15px;
    font-family: 'Castellar', serif;
    flex-wrap: wrap;

}

.historys5{

    white-space: pre-line;
    color: black;
    font-size: 15px;
    font-family: 'Castellar', serif;
    flex-wrap: wrap;

}

.faixa-top{

    background-color: blue;
    padding: 50px;

}

.faixa-top h1{

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}