body, html{

    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.faixa-top{

    background-color: blue;
    padding: 50px;
}

.faixa-top h1{

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container-manual{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.container-manual div img{

    height: auto;

}

h1{

    padding: 15px;

}

.hino{

    white-space: pre-line;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;

}

.botao-cifra{

    padding: 20px;

}

h3{

    padding: 15px;

}

.botao-cifra button{

    border-radius: 10px;
    cursor: pointer;

}

button:active{

    background-color: green;
}

.container-edicoes{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.conselheiro-manual{

    text-align: center;
    
}