body{

    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*-----------------------------header----------------------------------*/

.logo-container img{

    display: flex;
    height: 100px;
    margin-right: 10px;

}

header{

    display: flex;
    align-items: center;
    background-color: blue;
    width: 1380px;

}

header h1{

    color: black;
    display: flex;
    margin: 0;
    font-style: italic;
   
}

.nav-top a{

    margin: 3px;
    margin-left: 90px;
    text-decoration: none;
    color: white;

}

.nav-top a:active{

    color: yellow;
}

.content{

    display: none;

}

.expansivel-top{

    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 820px;
    margin-top: -20px;

}

.expansivel-top :active{

    color: red;
}

.subtextos-top a{

    display: block;
    margin-left: 800px;
    text-align: center;
}

/*-----------------------------footer----------------------------------*/

.footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1360px;
    background-color: yellow;
    padding: 10px;

}
/*-----------------------------body----------------------------------*/


.banner{

    display: flex;
    justify-content: center;
    background-color:transparent;

}

.cardbilly{

    min-height: none;
    
}