body,html{

    padding: 0;
    margin: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/*-----------------------------header----------------------------------*/

.logo-container img{

    display: flex;
    height: 100px;
    margin-right: 10px;

}

.geralnav-container{

    display: flex;
    justify-content: center;
    align-items: center;

}

header{

    background-color: blue;


}

header h1{

    color: white;
    display: flex;
    margin: 0;
    font-style: italic;
   
}

.nav-top a{
    
    text-decoration: none;
    color: white;   

}

.nav-top a:active{

    color: yellow;

}

.content{

    display: none;

}

.expansivel-top{

    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 820px;
    margin-top: -25px;

}

.expansivel-top :active{

    color: red;
}

.subtextos-top a{

    display: block;
    margin-left: 800px;
    
}

a{

    transition: 0.2s;
}

a:hover{

    transform: scale(1.1);
}

.geral-top{

    display: flex;
    justify-content: space-around;
    text-align: center;

    transition: 0.3s;
}

.geral-top:hover{

    transform: scale(1.1);
}

.compromisso{

    white-space: pre-line;

}

.citar{

    white-space: pre-line;
    text-align: center;
    z-index: -1;
    color: white;
    background: linear-gradient(black, black) no-repeat;
    background-clip: padding-box;
    -webkit-background-clip: text;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;

}

/*-----------------------------body----------------------------------*/


.banner{

    display: flex;
    justify-content: center;
    background-color:transparent;

}

.cardbilly{

    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    

}

.cardbilly img{

    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.cardbilly h1,h2{

    color: white;
    position: absolute;
    

}

.cardbilly h1{

    display: flex;
    top: 30%;

}


/*-----------------------------footer----------------------------------*/

.footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    height: auto;

}

/*Continuar a ajustar a imagem billy com  o texto h1 e h2,para sobrepor a imagem*/